{% extends "base.html.twig" %}

{% block title %} Notes {% endblock %}

{% block body %}

    <main class="container">
        <div id="border"></div>
            <div class="flexCenter">
                <textarea id="note"></textarea>
            </div>
    </main>
{% endblock %}